# Check out botwiki.org/tutorials/how-to-create-a-twitter-app to see how to obtain the keys/secrets below.
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=

# Comma-separated strings to query for
QUERY_STRING=ammbr,"#foreverroyal","another query string"

# Your twitter handle
BOT_USERNAME=

# your twitter user id
USER_ID=1011818211321446400


# You can customize the endpoint that wakes up your Twitter bot. This way you can prevent someone else from triggering it.
# You can make it something simple like 'tweet', or something random, like 'tweet12345endpoint9876'.
BOT_ENDPOINT=retweet
